html,
body,
	background-color bg_body
	color color_general

h1,
h2,
h3,
h4,
h5,
h6
	color color_general

.pane,
.view
	background-color bg_body

.marginT30
	margin-top 30px !important

.bar-header
	border-bottom 0
	
.bar-stable
	.button.button-icon
		color white

.bar
	&.bar-stable
		.add-reservation
			color white
			font-size 23px
			line-height 32px
			 
		.title
			color white
			text-transform uppercase
			font-size 14px

.onezone-datepicker-disable-day,
.onezone-datepicker-different-month.onezone-datepicker-disable-day
	text-decoration line-through
	
.onezone-datepicker-day
	border-radius 0 !important
	
.onezone-datepicker-active-day,
.onezone-datepicker-active-day:hover
	background-color azul
	color white
	border-radius 0

.onezone-datepicker
	width calc(100% - 30px) !important
	margin 30px auto
	border 1px solid #CBD5DD

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar,
.bar.bar-stable
	background #242633

.pull-left
	float left

.pull-right
	float right

.blue-block
	background-color azul
	min-height 60px
	color white
	position relative
	
	.text-center
		padding 10px 0
	
	.ion-android-arrow-dropleft-circle
		position absolute
		top 50%
		font-size 30px
		left 10px
		margin-top -15px
		cursor pointer
	

.box-white
	background white
	color gris_bottones
	box-shadow 1px 1px 0 rgba(0,0,0,0.05)

.hours-wrapper
	margin 30px 15px
	
	.ion-android-time
		position absolute
		top 50%
		left 50%
		margin-left -8px
		color #CBD5DD
		font-size 20px
		margin-top -14px
	
	.checkbox input:checked:before,
	.checkbox input:checked + .checkbox-icon:before
		background-color verde
		border-color darken(verde, 10%)
	
	.hour-detail
		position relative
		clearfix()

.week-resume
	position relative
	margin 10px 15px
	padding 12px 10px 12px 35px
	font-size 16px
	display block
	text-decoration none
	
	.ion-android-list
		color gris_iconos
		font-size 20px
		position absolute
		top 50%
		left 10px
		margin-top -10.5px

	.ion-arrow-right-b
		color azul
		position absolute
		right 10px
		top 50%
		margin-top -11px
		font-size 22px

.bg-login
	background url(../img/bg-login-up.jpg)
	
.login-page
	form 
		margin 35px 0 0 0
		
		.item-submit
			background-color transparent
			border 0
			
			.button.button-positive
				background-color azul
				
				&.active,
				&.activated,
				&:active
					background-color darken(azul, 30%)
		
		.item-input
			margin 0 15px 15px
			padding 0
			background-color #00243e
			border-top 0
			border-left 0
			border-right 0
			
			input[type="text"],
			input[type="password"]
				font-size 16px
				padding-left 0
				background-color #00243e
				color white
		
			.input-label
				background-color #00243e
				width 50px
				height 45px
				color white
				text-align center
				line-height 45px
				font-size 30px
				padding 0
		
	.login-logo
		text-align center
		padding 100px 0 0 0
		
		img
			display inline-block
		
		h1
			color white
			font-size 24px
			margin-top 40px
			margin-bottom 0

.menu-left
	background-color lighten(gris_header, 5%)
	
	.bar.bar-stable .title,
	.bar.bar-stable,
	.item-complex .item-content,
	.item-radio .item-content,
	.item
		background lighten(gris_header, 5%)
		color gris_bottones
	
	.bar.bar-stable .title
		color white

	.item
		border-color lighten(gris_header, 10%)
	
	.item-complex .item-content,
	.item-radio .item-content
		span
			margin-right 10px

		&.active,
		&.activated,
		&:active
			color white
			background lighten(gris_header, 10%)


.resource-detail
	margin-left 60px
	margin-right 15px
	font-size 16px
	padding 20px 0
	
	.detail-line
		margin-bottom 5px
		clearfix()

.reservations-list
	margin 15px 15px 30px 15px
	
	li
		margin-bottom 15px
		position relative
		padding 10px 15px
		border-left 3px solid transparent
		
		a
			display block
			text-decoration none
			color gris_bottones
		
		&.reserv-done
			border-left 3px solid verde
		
		&.reserv-cancel
			border-left 3px solid rojo
		
		&.reserv-pending
			border-left 3px solid amarillo
		
		.hour-resource
			position absolute
			right 15px
			bottom 15px
			padding-right 18px
			
			.ion-android-time
				color gris_iconos
				font-size 15px
				position absolute
				right 0
				top 50%
				margin-top -10px

.date-picker-wrapper
	margin-top -15px
	
	.center-date
		display block
		margin-left 20px

	.item-input
		margin 0 15px 15px
		padding 0
		
		select
			width 100%
			height 45px
			border 0
			padding 0 15px
		
		input[type="text"],
		input[type="password"]
			font-size 16px
			padding-left 24px
	
	.list
		background-color azul
		padding 0 15px 15px 15px
		margin 0

	.input-label
		background-color #EEEEEE
		width 50px
		height 45px
		color gris_bottones
		text-align center
		line-height 45px
		font-size 20px
		padding 0

.search-resource
	margin 0
	padding 15px
	
	.item-input
		margin 0 15px 15px
		padding 0
		
		select
			width 100%
			height 45px
			border 0
			padding 0 15px
		
		input[type="text"],
		input[type="password"]
			font-size 16px
			padding-left 24px
	
		.input-label
			background-color #EEEEEE
			width 50px
			height 45px
			color gris_bottones
			text-align center
			line-height 45px
			font-size 20px
			padding 0

.search-form-wrapper
	margin 0 15px 30px 15px
	
	.button.button-balanced
		border-radius 0

.white-block
	background-color white
	padding-bottom 12px
	
	.profile-info
		text-align center
		color #555555
		
		h2
			margin-bottom 0
			font-size 26px
			
		h3
			font-weight 300
			font-size 20px
			margin-top 0
		
		.codigo-alumno
			font-size 15px
			margin-top 15px
		
		.profile-image
			border 3px solid white
			border-radius 50%
			overflow hidden
			width 110px
			height 110px
			display inline-block
			margin-top -45px
			position relative
			z-index 2

			img
				max-width 100%
				height auto