azul = #0970bd
gris_oscuro = #242633
bg_body = #f3f3f3
color_general = #555555
rojo = #db524b
verde = #58b957
amarillo = #f2ae43
gris_bottones = #767676
gris_iconos = #cbd5dd
gris_header = #242633

screen-xs-min = "(min-width: 480px)"
screen-sm-min = "(min-width: 768px)"
screen-md-min = "(min-width: 992px)"
screen-lg-min = "(min-width: 1200px)"