<ion-view view-title="ACTIVAR" hide-back-button="true">
	<ion-content>
		<div class="blue-block"></div>
		
		<!--<div id="nfcdata" class="white-block">
			
		</div>
		<div class="search-form-wrapper">
			<button ng-click="clear()" ng-if="tag.id" class="button button-block button-balanced">Limpiar</button>	
		</div>-->

		<button class="button button-clear button-positive" ng-click="clear()" ng-if="tag.id">Limpiar</button>

		<div ng-if="!tag.id">
            <div class="card">
                <div class="item item-text-wrap center">
                    Escanear la tarjeta NFC para acitvar la reserva. <i class="ion-android-phone-landscape"></i>
                </div>
            </div>
        </div>
        <div ng-if="tag.id">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="card" ng-repeat="record in tag.ndefMessage">
                        <div class="item item-divider">
                            {{ record | decodePayload }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
	</ion-content>
</ion-view>