<ion-view view-title="CONFIRMACIÓN" hide-back-button="true">
	<ion-content>
		<div class="blue-block">
			<div class="steps p-50">
				<ul class="circles">
					<li>1</li>
					<li>2</li>
					<li class="active">3</li>
				</ul>
			</div>
		</div>
		
		<div class="card confirmarReserva">
			<div class="item item-text-wrap">
				Tu reserva se ha realizado con éxito, recuerda llegar 5 minutos antes de la hora de tu reserva.
			</div>
		</div>

		<div class="hours-wrapper">
			<p><a href="#/app/reservas">Ver todas las reservas</a></p>
			<p>Detalle de la reserva:</p>
			<div class="itemSalaHidden" style="display: block;">
				<div class="rItmSaHi">
        			<span class="ion-android-calendar"></span>
        			Fecha: 14/11/2016
    			</div>
    			<div class="rItmSaHi">
        			<span class="ion-android-time"></span>
        			Inicio: 07:00AM
    			</div>
    			<div class="rItmSaHi">
        			<span class="ion-android-time"></span>
        			Fin: 09:00AM
    			</div>
    			<div class="rItmSaHi">
        			<span class="ion-android-desktop"></span>
        			Sala: A-603
    			</div>
    			<div class="rItmSaHi">
        			<span class="ion-android-people"></span>
        			Capacidad: 6
    			</div>
				<div class="rItmSaHi">
					Foto:
    				<img src="img/LCUP-A-603.jpg" class="img-responsive">
    			</div>
    			<div class="rItmSaHi">
    				Ubicación:
    				<img src="img/LCUP-A-603.png" class="img-responsive">
    			</div>
    		</div>
    		<p></p>
    		<p><a href="#/app/reservas">Ver todas las reservas</a></p>
		</div>

	</ion-content>
</ion-view>