<ion-view view-title="Mi Perfil" hide-back-button="true">
	<ion-content>
		<div class="blue-block"></div>
		<div class="white-block box-white">
			<div class="profile-info">
				<div class="profile-image">
					<img src="img/g1.jpg" alt="Johan Asenjo">
				</div>
				<div class="profile-data">
					<h2>Johan Asenjo</h2>
					<h3>Marketing Ciclo III</h3>
					<div class="codigo-alumno">Código de alumno: AL123456</div>
				</div>
			</div>
		</div>

		<a href="#/app/resumen" class="box-white week-resume">
			<span class="ion-android-list"></span>
			Resumen semanal
			<span class="ion-arrow-right-b"></span>
		</a>

		<ul class="reservations-list">
			<li class="box-white reserv-pending">
				<a href="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a href="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-cancel">
				<a href="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>
		</ul>
	</ion-content>
</ion-view>