<ion-view view-title="RECURSO" hide-back-button="true">
	<ion-content>
		<div class="blue-block">
			<div ng-click="$ionicGoBack()" class="ion-android-arrow-dropleft-circle"></div>

			<div class="resource-detail">
				<div class="detail-line">
					<div class="pull-left">Cubiculo</div>
					<div class="pull-right">34</div>
				</div>

				<div class="detail-line">
					<div class="pull-left">Pabellon</div>
					<div class="pull-right">E</div>
				</div>

				<div class="detail-line">
					<div class="pull-left">Fecha</div>
					<div class="pull-right">10/07/2016</div>
				</div>
			</div>
		</div>
		
		<div class="hours-wrapper">
			<ion-list>
				<ion-checkbox>
					<div class="hour-detail">
						<span class="ion-android-time"></span>
						<div class="pull-left">10:30 am</div>
						<div class="pull-right">11:30 am</div>
					</div>
				</ion-checkbox>
				<ion-checkbox>
					<div class="hour-detail">
						<span class="ion-android-time"></span>
						<div class="pull-left">10:30 am</div>
						<div class="pull-right">11:30 am</div>
					</div>
				</ion-checkbox>
				<ion-checkbox>
					<div class="hour-detail">
						<span class="ion-android-time"></span>
						<div class="pull-left">10:30 am</div>
						<div class="pull-right">11:30 am</div>
					</div>
				</ion-checkbox>
				<ion-checkbox>
					<div class="hour-detail">
						<span class="ion-android-time"></span>
						<div class="pull-left">10:30 am</div>
						<div class="pull-right">11:30 am</div>
					</div>
				</ion-checkbox>
				<ion-checkbox>
					<div class="hour-detail">
						<span class="ion-android-time"></span>
						<div class="pull-left">10:30 am</div>
						<div class="pull-right">11:30 am</div>
					</div>
				</ion-checkbox>
			</ion-list>
		</div>

		<div class="search-form-wrapper">
			<a class="button button-block button-balanced" href="#/app/perfil">RESERVAR</a>	
		</div>

	</ion-content>
</ion-view>