<ion-view view-title="BUSCAR RECURSO" hide-back-button="true">
	<ion-content>
		<div class="blue-block">
			<form class="search-resource">
				<div class="list">
					<label class="item item-input">
						<span class="input-label ion-android-desktop"></span>
						<select class="select-resource">
							<option value="">Seleccione tipo de recurso</option>
							<option value="COMPU">Computadoras</option>
							<option value="DEPORT">Area Deportiva</option>
							<option value="ESTAC">Estacionamiento</option>
							<option value="ESTUDI">Sala de Estudio</option>
							<option value="LABFIN">Laboratorio Financiero (Bloomberg)</option>
						</select>

						<input type="hidden" value="{{onezoneDatepicker.date | date:'dd MMMM yyyy'}}">
					</label>

					<label class="item item-input">
						<span class="input-label ion-android-people"></span>
						<select class="form-control col-sm-12 col-md-12" id="BuildingCode_nombre" name="BuildingCode.nombre">
							<option value="">Seleccione local</option>
							<option value="CDE-A">Pabellón A CDE</option>
							<option value="CEE-A">Pabellón A CEE</option>
							<option value="CGIU-A">Pabellón A CGIU</option>
							<option value="CID-A">Pabellón A CID</option>
							<option value="CID-B">Pabellón B CID</option>
							<option value="CID-C">Pabellón C CID</option>
							<option value="CIUP-A">Pabellón A CIUP</option>
							<option value="CIUP-B">Pabellón B CIUP</option>
							<option value="EPU-A">Pabellón A EPU</option>
							<option value="HUA-A">Pabellón A HUA</option>
							<option value="LC2UPH">Pabellón H LC2UP</option>
							<option value="LCUP-A">Pabellón A LCUP</option>
							<option value="LCUP-B">Pabellón B  LCUP</option>
							<option value="LCUP-C">Pabellón C LCUP</option>
							<option value="LCUP-D">Pabellón D LCUP</option>
							<option value="LCUP-E">Pabellón E LCUP</option>
							<option value="LCUP-F">Pabellón F LCUP</option>
							<option value="LCUP-G">Pabellón G LCUP</option>
							<option value="LCUP-H">Pabellón H LCUP</option>
						</select>

						<input type="hidden" value="{{onezoneDatepicker.date | date:'dd MMMM yyyy'}}">
					</label>

					<label class="item item-input">
						<span class="input-label ion-android-people"></span>
						<select class="form-control col-sm-12 col-md-12" id="BuildingCode_nombre" name="BuildingCode.nombre">
							<option value="">Seleccione capacidad</option>
							<option value="2">2</option>
							<option value="4">4</option>
							<option value="6">6</option>
						</select>

						<input type="hidden" value="{{onezoneDatepicker.date | date:'dd MMMM yyyy'}}">
					</label>
				</div>
			</form>
		</div>
		<div class="date-picker-wrapper">
			<onezone-datepicker datepicker-object="onezoneDatepicker">
				<div class="list">
					<label class="item item-input">
						<span class="input-label ion-android-time"></span>
						<select class="select-resource">
							<option>Hora de inicio</option>
							<option value="07:30">07:30</option>
							<option value="08:00">08:00</option>
							<option value="08:30">08:30</option>
							<option value="09:00">09:00</option>
							<option value="09:30">09:30</option>
							<option value="10:00">10:00</option>
							<option value="10:30">10:30</option>
							<option value="11:00">11:00</option>
							<option value="11:30">11:30</option>
							<option value="12:00">12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00">20:00</option>
							<option value="20:30">20:30</option>
							<option value="21:00">21:00</option>
							<option value="21:30">21:30</option>
							<option value="22:00">22:00</option>
							<option value="22:30">22:30</option>
							<option value="23:00">23:00</option>
							<option value="23:30">23:30</option>
						</select>
					</label>

					<label class="item item-input">
						<span class="input-label ion-android-time"></span>
						<select class="select-resource">
							<option>Hora de fin</option>
							<option value="23:30">23:30</option>
							<option value="23:00">23:00</option>
							<option value="22:30">22:30</option>
							<option value="22:00">22:00</option>
							<option value="21:30">21:30</option>
							<option value="21:00">21:00</option>
							<option value="20:30">20:30</option>
							<option value="20:00">20:00</option>
							<option value="19:30">19:30</option>
							<option value="19:00">19:00</option>
							<option value="18:30">18:30</option>
							<option value="18:00">18:00</option>
							<option value="17:30">17:30</option>
							<option value="17:00">17:00</option>
							<option value="16:30">16:30</option>
							<option value="16:00">16:00</option>
							<option value="15:30">15:30</option>
							<option value="15:00">15:00</option>
							<option value="14:30">14:30</option>
							<option value="14:00">14:00</option>
							<option value="13:30">13:30</option>
							<option value="13:00">13:00</option>
							<option value="12:30">12:30</option>
							<option value="12:00">12:00</option>
							<option value="11:30">11:30</option>
							<option value="11:00">11:00</option>
							<option value="10:30">10:30</option>
							<option value="10:00">10:00</option>
							<option value="09:30">09:30</option>
							<option value="09:00">09:00</option>
							<option value="08:30">08:30</option>
							<option value="08:00">08:00</option>
							<option value="07:30">07:30</option>
						</select>
					</label>

					<label class="item item-input">
						<button class="button button-block button-outline button-positive show-onezone-datepicker">
			        		Buscar recurso
			    		</button>
					</label>
				</div>

				
			</onezone-datepicker>
		</div>

		<div class="search-form-wrapper">
			<a class="button button-block button-balanced" href="#/app/hora">BUSCAR RECURSO</a>	
		</div>
	</ion-content>
</ion-view>