<ion-view view-title="RESUMEN SEMANAL" hide-back-button="true">
	<ion-content>
		<div class="blue-block">
			<div ng-click="$ionicGoBack()" class="ion-android-arrow-dropleft-circle"></div>

			<div class="text-center">
				Resumen del<br>
				18/07/2016 al 25/07/2016
			</div>
		</div>
		<ul class="reservations-list marginT30">
			<li class="box-white reserv-pending">
				<a href="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-cancel">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>

			<li class="box-white reserv-done">
				<a hhref="#/app/recurso">
					<div class="name-resource">Cubiculo 3 - Pabellon E</div>
					<div class="date-resource">12/07/2016</div>
					<div class="hour-resource">
						11:30 am
						<span class="ion-android-time"></span>
					</div>
				</a>
			</li>
		</ul>
	</ion-content>
</ion-view>